# Data Mining and Probabilistic Reasoning, WS18/19


Dr. Gjergji Kasneci, The University of TÃ¼bingen

-----
## Python and Jupyter Notebook tutorials
-----

###### Date 29/10/2018

Teaching assistants:

 - Vadim Borisov (vadim.borisov@uni-tuebingen.de)

 - Johannes Haug (johannes-christian.haug@uni-tuebingen.de)

In [1]:
# The Zen of Python is a collection of 20 software principles that influences the design
# of Python Programming Language
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [2]:
print('hello, world!')

hello, world!

# Python Data Types

In this tutorial, we review the most important and mainly used python data types.

## Numbers

 - `int` (`integer`, means "whole" from latin)
 
$\mathbb{Z}$

In [3]:
# int 
x = 1

In [4]:
print(x)

1

In [5]:
print(type(x))

<class 'int'>

In [6]:
a = 4 + 5
b = 4 * 5
c = 5 / 4
d = 6**2

print(a, b, c, d)

9 20 1.25 36

 - `float` (`floating point number`)
 
 $\mathbb{R}$

In [7]:
# float 
y = 1.01111

In [8]:
print(y)
print(type(y))

1.01111
<class 'float'>

In [9]:
a = 4.2 + 5.1
b = 4.3 * 5.2
c = 5.0 / 4.0

print(a, b, c)

9.3 22.36 1.25

In [10]:
int_number = 1
float_number = 2.0

In [11]:
print(int(int_number*float_number))

2

In [12]:
a = 5
b = 4
print(float(a) / float(b))

1.25

### Bool

In [13]:
# boolean 
a = True 
b = False

print(a)
print(type(a))

print(b)
print(type(b))

True
<class 'bool'>
False
<class 'bool'>

In [14]:
print(int(a), float(b))

1 0.0

In [15]:
print(True and False)
print(True and True)
print(False and False)

False
True
False

In [16]:
print(True or False)
print(True or True)
print(False or False)

True
True
False

## str (String)

In [17]:
x = "abc"
print(x)
print(type(x))

abc
<class 'str'>

In [18]:
x = "1"
print(x)
print(type(x))

1
<class 'str'>

In [19]:
a = 'John'
b = "Doe"
s = a + b
print(s)

JohnDoe

In [20]:
print(b * 3)

DoeDoeDoe

In [21]:
print(a.upper())
print(a.lower())

JOHN
john

In [22]:
print(len(a))

4

In [ ]:
print(a)
print(a[0])
print(a[1])
print(a[0:3])

### None

In [ ]:
z = None
print(z)
print(type(z))

 # Composite Data Types

### list

In [ ]:
saled_goods_count = [33450, 34010, 33990, 33200]
#saled_goods_count = list(33450, 34010, 33990, 33200)
print(saled_goods_count)
print(type(saled_goods_count))

In [ ]:
income = ['Low', 'Medium', 'High']
names = ['John Doe', 'Janne Doe', 'Your neighbor']

print(income)
print(names)

In [ ]:
print("---".join(income))

In [ ]:
print(" ".join(income))

In [ ]:
features = ['Janne Doe', 'Medium', 500000, 12.0, True, print]
print(features)

In [ ]:
print(features[0])
print(features[1])
print(features[3])

In [ ]:
features[5]('hello all!')

In [ ]:
print(features)

In [ ]:
print(features[0:4])

In [ ]:
print(features[:4])

In [ ]:
print(features[1:])

In [ ]:
print(features[0:-1])

In [ ]:
print(features)

In [ ]:
features.append('One more element in the list')
print(features)

In [ ]:
features[0] = 'New Name'
print(features)

In [ ]:
del features[-2]

In [ ]:
print(features)

## tuple 
aka immutable list

In [ ]:
features_tuple = ('Janne Doe', 'Medium', 500000, 12, True)
print(type(features_tuple))

In [ ]:
features_tuple[2:5]

In [ ]:
features_tuple.append('one more element')

In [ ]:
features_tuple[0] = 3

In [ ]:
features_tuple

# Dictionaries 
hash table

In [ ]:
words_frequencies = dict()
words_frequencies['Apples'] = 1
words_frequencies['Bananas'] = 1
words_frequencies['Apples'] += 1
# words_frequencies['Apples'] = words_frequencies['Apples']  + 1

print(words_frequencies)

In [ ]:
print(words_frequencies['Apples'])

In [ ]:
words_frequencies = {'Apples': 2, 'Bananas': 1}
print(words_frequencies)

In [ ]:
another_dict = {'abc': 3.2, 222: [0.8, 1], '123': None,}
print(another_dict)

# Set
collections of unique element

In [ ]:
names = {'Heidi', 'Linda', 'Max'}
print(type(names))

In [ ]:
names.add('Max')
print(names)

In [ ]:
names.add('John')
print(names)

In [ ]:
random_list = [1,2,2,2,23,4,5,6,7,7,1,3,4,3,78]
print(set(random_list))

# if/else/elif, while

In [ ]:
if 1 == 1:
    print('one is one')

In [ ]:
a = 2
if a > 6:
    print('a is bigger than 6')
elif a > 5:
    print('a is bigger than 5')
else:
    print("a isn't bigger than 6 or 5")

In [ ]:
cnt = 0

while cnt:
    print(cnt)
    cnt = cnt + 1

## Range

In [ ]:
a_list = [0,1,2,3,4,5,6,7,8,9,10]
print(len(a_list))

In [ ]:
a_list = list(range(11))
print(a_list)

In [ ]:
a_list = [8,7,6,5,4,3,2,1,]

In [ ]:
for i in range(len(a_list)):
    print('i =', i)
    print('element of the list =', a_list[i])

In [ ]:
a_list

In [ ]:
for i in a_list:
    print(i)

# Function

In [ ]:
def name():
    a = 2 
    b = 5
    c = a + b
    return c

In [ ]:
name()

In [ ]:
def multiplication(a,b):
    return a*b

In [ ]:
multiplication(3,2)

***

# Jupyter Notebook for Beginners: A Tutorial

In [ ]:
'hello, world!'

In [ ]:
t = 'hello, world!'

In [ ]:
t

In [ ]:
print(t)

In [ ]:
6**4

In [ ]:
100/12

In [ ]:
100//12

In [ ]:
11%3

In [ ]:
round(100/12, 10)

In [ ]:
from math import factorial

In [ ]:
factorial(3)

In [ ]:
factorial(10)*0.5

In [ ]:
factorial(3)**2

# Header

$$ c = \sqrt{a^2 + b^2}$$

In [ ]:
%pylab inline

In [ ]:
y = range(11)

In [ ]:
y

In [ ]:
list(range(0,11))

In [ ]:
type(y)

In [ ]:
plot(y)

# Exercises: 
(1) Write a for loop, where you print out each element of  ```test_list``` list, if the element is **bigger that 5**.
```python
test_list = [1,2,3,33,55,12,33,0,2,5,6]
```



(2) Write a function for comparing two numbers. The function should return the bigger value:

```python
def compare(a,b):
    ....
# eg
compare(1,2)
> 2
    
```


(3) Write a fucntion which returns a maximum value in a list. Test the function with  ```test_list```.


```python
def max_value(lst):
    ....
```

---

In [ ]:
test_list = [1,2,3,33,55,12,33,0,2,5,6]

In [ ]:
# HINT start with 
# for .... 

# YOUR CODE STARTS HERE (circa 3 lines)


# YOUR CODE ENDS HERE

you output should be:

```python
33
55
12
33
6
```

---

In [ ]:
# HINT 
# think about conditions 


# YOUR CODE STARTS HERE (circa 3 lines)
def compare(a,b):
    
# YOUR CODE ENDS HERE

---

In [ ]:
# HINT 
# try to find a prebuild function in the python documentation

---