# Data Mining and Probabilistic Reasoning, WS18/19


Dr. Gjergji Kasneci, The University of Tübingen

-----
## Pandas
-----

###### Date 29/10/2018

Teaching assistants:

 - Vadim Borisov (vadim.borisov@uni-tuebingen.de)

 - Johannes Haug (johannes-christian.haug@uni-tuebingen.de)

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./data/churn_train.csv', index_col=False)

In [4]:
df.head(3)

,st,acclen,arcode,phnum,intplan,voice,nummailmes,tdmin,tdcal,tdchar,...,tecal,tecahr,tnmin,tncal,tnchar,timin,tical,tichar,ncsc,label
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.


# Meta data:

st - state

acclen - account length

arcode - area code

phnum - phone number

intplan - internet plan (yes/no)

voice - voice

nummailmes - no of email messages

tdmin - total day messages

tdcal - total day time calls

tdchar - total day time charges

temin - total evening time minutes

tecal - total evening time calls

tecahr - total evening time charges

tnmin - total night time minutes

tncal - total night time calls

tnchar - total night time charges

timin - total international minutes

tical - total international calls

tichar - total international charges

ncsc - no. of customer services calls

label - Churned? (True/False)

In [5]:
df.columns

Index(['st', 'acclen', 'arcode', 'phnum', 'intplan', 'voice', 'nummailmes',
       'tdmin', 'tdcal', 'tdchar', 'temin', 'tecal', 'tecahr', 'tnmin',
       'tncal', 'tnchar', 'timin', 'tical', 'tichar', 'ncsc', 'label'],
      dtype='object')

In [6]:
df.shape

(3333, 21)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 21 columns):
st            3333 non-null object
acclen        3333 non-null int64
arcode        3333 non-null int64
phnum         3333 non-null object
intplan       3333 non-null object
voice         3333 non-null object
nummailmes    3333 non-null int64
tdmin         3333 non-null float64
tdcal         3333 non-null int64
tdchar        3333 non-null float64
temin         3333 non-null float64
tecal         3333 non-null int64
tecahr        3333 non-null float64
tnmin         3333 non-null float64
tncal         3333 non-null int64
tnchar        3333 non-null float64
timin         3333 non-null float64
tical         3333 non-null int64
tichar        3333 non-null float64
ncsc          3333 non-null int64
label         3333 non-null object
dtypes: float64(8), int64(8), object(5)
memory usage: 546.9+ KB

In [8]:
df['label'], target_description = pd.factorize(df['label'])

In [ ]:
target_description

In [ ]:
df.describe()

In [ ]:
df.describe(include=['object', 'bool'])

In [ ]:
df['label'].value_counts()

In [ ]:
df['label'].value_counts(normalize=True)

# Sorting

In [ ]:
df.head()

In [ ]:
df.sort_values(by='tdmin', ascending=False).head()

In [ ]:
df.sort_values(by=['tdmin', 'tdchar'],
        ascending=[True, False]).head()

In [ ]:
df['acclen'].mean()

In [ ]:
df[df['st'] == 'OH'].mean()

In [ ]:
df[df['st'] == 'OH']['acclen'].mean()

# Indexing `.iloc` vs `.loc`

In [ ]:
df.iloc[1]

In [ ]:
df.loc[1]

In [ ]:
samples = df.sample(10, random_state=444)
samples

In [ ]:
samples.iloc[1]

In [ ]:
samples.loc[1]

# Functions & Pandas

In [ ]:
df.apply(np.max)

In [ ]:
df.apply(lambda x: max(x))

# Grouping 
 - df.groupby(by=grouping_columns)[columns_to_show].function()

In [ ]:
df.head()

In [ ]:
df.groupby(by='st')['acclen'].min()

In [ ]:
df.groupby(by='st')['acclen'].agg([min, max, np.std, np.mean])

# DataFrame manipulations

In [ ]:
df.head(6)

In [ ]:
df['new_feature'] = df['ncsc'] /  df['acclen']

In [ ]:
df.head()

# Visualizations

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns #pip install seaborn 

plt.style.use('ggplot')
plt.figure(figsize=(13, 10))

In [ ]:
df['acclen'].hist()

# Quantize-data

In [ ]:
df['new_feature_2'] = pd.np.digitize(df.ncsc, bins = [0, 1, 2, 3])

In [ ]:
sns.countplot(x='new_feature_2', hue='label', data=df);

# SQL and Pandas

SQL query: 

```SQL
SELECT * FROM df WHERE st = 'KS' LIMIT 5;
```

Pandas query: 

```python
df[df['st'] == 'KS'][:5]
```